# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [1]:
a = 2
print(type(a))

<class 'int'>

In [3]:
b = "1086J"
print(type(b))

<class 'str'>

In [5]:
c = 3.14567
print(type(c))

<class 'float'>

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [10]:
My_Name = "Niloy Chakraborty"
print(My_Name)

Niloy Chakraborty

In [11]:
My_Name = "Niloy Chakraborty"
print(type(My_Name))

<class 'str'>

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [12]:
my_name = input("What is your name? ")
print("Hello", my_name, "!")
print("Your name is stored as a", type(my_name))

What is your name? Niloy Chakraborty
Hello Niloy Chakraborty !
Your name is stored as a <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [13]:
my_name = input("What is your name? ")
print("Hello", my_name, "!")
print("Your name is stored as a", type(my_name))
print("Your name has", len(my_name), "characters.")

What is your name? Niloy Chakraborty
Hello Niloy Chakraborty !
Your name is stored as a <class 'str'>
Your name has 17 characters.

In [15]:
my_name = input("What is your name? ")
print("Is your name in all capital letters?", My_Name.isupper())

What is your name? Niloy Chakraborty
Is your name in all capital letters? False

In [16]:
My_Name = input("What is your name? ")
My_Name = My_Name.upper()
print(My_Name)

What is your name? Niloy chakraborty
NILOY CHAKRABORTY

In [17]:
My_Name = input("What is your name? ")
My_Name = My_Name.upper()
print(My_Name)
print("Is your name in all capital letters now?", My_Name.isupper())

What is your name? niloy chakrabory
NILOY CHAKRABORY
Is your name in all capital letters now? True

In [18]:
new_sentence = "Do untill you can"
print(new_sentence)
print(new_sentence.upper())
print(new_sentence.capitalize())
print(new_sentence.title())

Do untill you can
DO UNTILL YOU CAN
Do untill you can
Do Untill You Can

In [20]:
new_sentence = "Do untill you can"
print("The data type of new_sentence is:", type(new_sentence))

The data type of new_sentence is: <class 'str'>

In [21]:
new_sentence = "Do untill you can"
print("Is the sentence all uppercase?", new_sentence.isupper())

Is the sentence all uppercase? False

In [22]:
new_sentence = "Do untill you can"
print("Is the sentence all lowercase?", new_sentence.islower())

Is the sentence all lowercase? False

In [23]:
print(new_sentence.upper())

DO UNTILL YOU CAN

In [24]:
print(new_sentence.lower())

do untill you can

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [27]:
it_is_raining_today = True
it_is_sunny = False
print(it_is_raining_today)
print(it_is_sunny)

True
False

In [28]:
it_is_raining_today = True
it_is_sunny = False
print(type(it_is_raining_today), type(it_is_sunny))

<class 'bool'> <class 'bool'>

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [29]:
my_number = 6666
print(my_number)
print(type(my_number))

6666
<class 'int'>

In [31]:
print(type(my_number))

<class 'int'>

In [32]:
value = 6666
value = str(value)
print(value)
print(type(value))

6666
<class 'str'>

In [33]:
value = 100
value = str(value)
print(type(value))

<class 'str'>

In [34]:
number_as_string = "123456"
print(number_as_string)
print(type(number_as_string))

123456
<class 'str'>

In [35]:
num_str = "6666"
print(num_str)
print(type(num_str))

6666
<class 'str'>

In [36]:
num_str = "6666"
num_int = int(num_str)
print(num_int)
print(type(num_int))

6666
<class 'int'>

In [38]:
num_str = "3.1416"
# Convert string to float
num_float = float(num_str)
print(num_float)
print(type(num_float))

3.1416
<class 'float'>

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.